extends layout

block content
  h1= title
  h1 Informação sobre classe #{classe.codigo}
  p #{classe.titulo}
  p #{classe.descricao}

  if classe.filhos.length > 0
    h1 Filhos
    ul(class="lista")
      each descendente in classe.filhos
        li 
          a(href="/classe/"+descendente.codigo)= descendente.codigo

  if classe.nivel == 3
    h2 Termos Indice
    ul(class="lista")
      each termo in classe.termosInd
          li 
            a(href="/termos")= termo.termo


  if classe.pai.codigo != undefined
    a(href="/classe/"+classe.pai.codigo)= "Voltar á classe pai"
  p
    a(href="/")= "Voltar á pagina inicial"